@import url(./global.css);

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 35px;
  width: 100vw;
}

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entry__label {
  font-size: 0.85rem;
}

.entry__text {
  border: 1px dotted brown;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  width: 70%;
}

textarea {
  height: 20vh;
}

.entry__submit {
  cursor: pointer;
  background-color: var(--fourth-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.entry__submit:active {
  background-color: #735aa0;
}
