@import url(./global.css);

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 35px;
  width: 100vw;
}
legend {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__entry__label {
  font-size: 0.85rem;
}

.form__entry__text {
  border: 1px dotted brown;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  width: 70%;
  text-align: center;
  padding: 40px;
}

.form__entry__tag {
  border: 1px dotted brown;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  width: 70%;
  text-align: center;
  padding: 5px;
}
textarea {
  height: 20vh;
}

.form__entry__submit {
  cursor: pointer;
  background-color: var(--fourth-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.form__entry__submit:hover {
  background-color: #6bc47a;
  box-shadow: 6px 10px 8px 0 var(--third-color);
}
.form__character-count {
  font-size: 0.8rem;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animated {
  animation: animation 2s ease-in;
}
