* {
  box-sizing: border-box;
}

main {
  display: flex;
  margin: 3px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.info {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.info__profile-pic__resize {
  max-width: 25vw;
  border-radius: 50%;
}

.info__profile-pic {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin-top: 30px;
}

.info__about-me {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.info__about-me__header {
  border-bottom: 1px solid brown;
}

.info__about-me__text {
  padding-bottom: 40px;
  border-bottom: 1px solid brown;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons__container {
  width: 80px;
  border: 1px dotted red;
  border-radius: 10%;
}

.icons__saved-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons__questions__image,
.icons__saved-bookmark__image {
  width: 30px;
  height: 30px;
}

.number {
  font-weight: bolder;
}

.button__settings {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.settings {
  width: 90%;
  padding: 10px;
}

.settings__dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* Style the slider (the visible part of the switch) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Default color of the switch */
  transition: 0.4s; /* Smooth transition when changing state */
  border-radius: 30px;
}

.slider.round {
  border-radius: 30px; /* Round the slider itself */
}

/* Change the background color of the slider when the checkbox is checked */
.switch input:checked + .slider {
  background-color: #0d1922; /* Color when the switch is on */
}

/* Style the slider's inner circle (the "thumb") */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s; /* Smooth transition when changing state */
  border-radius: 50%; /* Round the inner circle */
}

/* Move the inner circle to the right when the checkbox is checked */
.switch input:checked + .slider::before {
  transform: translateX(
    30px
  ); /* 30px is the width of the switch - 2px (border) - 26px (circle size) */
}
