@import url(./global.css);

/* ------------------- FIRST AND SECOND PAGE MAIN CONTENT------------------- */
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
  margin-bottom: 60px;
}

.questions {
  width: 70%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.95 rem;
  border: 1px dotted brown;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}

.questions__container {
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  justify-content: space-between;
}

.hashtags {
  display: flex;
  gap: 3px;
  margin-top: 5px;
}

span {
  border: 1px solid gray;
  padding: 4px;
  font-size: 0.6rem;
  border-radius: 5px;
}

.button__answer {
  margin: 30px;
  font-size: small;
  cursor: pointer;
  align-self: center;
  background-color: var(--fourth-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button__answer:hover {
  background-color: #735aa0;
}

.image_resized {
  width: 20px;
}

#questions__container__button-bookmark {
  border: none;
  height: 20px;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  top: -15px;
  right: 0px;
  margin: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
